
 <mat-card class="bookContainer">
    <div class="bookCard">
    <img src= "{{ data.ImgUrl }}">
    </div>
     <mat-card-content class="bookCard">
       <div>
          <mat-card-title>{{ data.Title }}</mat-card-title>
          <mat-card-subtitle>Book's Author: {{ data.Author }}</mat-card-subtitle>
          <mat-card-subtitle>Publishing Date: {{ convertDate(data.Date) |date }}</mat-card-subtitle>
    
          <mat-card-actions>
            <button mat-raised-button (click)="openEditDialog(this.data)">Edit<mat-icon>edit</mat-icon></button>
            <button mat-button>Delete<mat-icon>delete</mat-icon></button>
          </mat-card-actions>
       </div>
      </mat-card-content>
</mat-card>