.example-spacer{
    flex: 1 1 auto;
}

img{
    display: block;
    height:300px;
    width: 200px;
    margin-bottom: 10px;
}

.booksContainer{
    display: flex;
    padding-bottom: 0px;
}

.bookCard{
    flex: 2;
}

mat-card-content.bookCard{
    flex: 3;
    display: flex;
}

mat-card-content.bookCard div{
    margin: auto 0 ;
}