<mat-toolbar color="primary">
   <mat-toolbar-row>
  <span>My Book</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]= "appMenu"><mat-icon>menu</mat-icon></button>
</mat-toolbar-row>
</mat-toolbar>

<mat-menu #appMenu = "matMenu">
  <button mat-menu-item>Edit</button>
  <button mat-menu-item>Delete</button>
</mat-menu>

<mat-card class="booksContainer" *ngFor= "let data of myData; let i = index">
    
  <div class="bookCard">
  <img src= "{{ data.ImgUrl }}">
</div>
    <mat-card-content class="bookCard">
      <div>
        <mat-card-title>{{ data.Title }}</mat-card-title>
        <mat-card-subtitle>Book's Author: {{ data.Author }}</mat-card-subtitle>
        <mat-card-subtitle>Publishing Date: {{ data.Date }}</mat-card-subtitle>
  
    <mat-card-actions>
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </div>
  </mat-card-content>

</mat-card>